@{
    ViewData["Title"] = "Home Page";
}

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">

                <h3 class="page-title" style="text-align:center">API Project Run Successfully. </h3>
            </div>
        </div>
    </div>
</div>